# Ambientes Virtuais
venv/
env/
.venv/

# Variáveis de Ambiente (NUNCA subir para o GitHub)
.env

# Arquivos de Cache do Python e DuckDB
__pycache__/
*.pyc
*.db
*.db.wal
*.duckdb
*.duckdb.wal

# Dados brutos (opcional, mas recomendado se forem arquivos muito grandes)
data/raw/*.csv
